agate==1.6.1
agate-dbf==0.2.2
agate-excel==0.2.3
agate-sql==0.5.5
appdirs==1.4.4
Babel==2.9.0
certifi==2020.11.8
dbfread==2.0.7
distlib==0.3.1
et-xmlfile==1.0.1
filelock==3.0.12
isodate==0.6.0
jdcal==1.4.1
leather==0.3.3
openpyxl==3.0.5
parsedatetime==2.6
pbr==5.5.1
pipenv==2020.11.15
protobuf==3.14.0
pybind11==2.6.1
PyQt5==5.15.2
PyQt5-sip==4.19.24
python-slugify==4.0.1
pytimeparse==1.1.8
pytz==2020.5
six==1.15.0
SQLAlchemy==1.3.22
stevedore==3.2.2
TBB==0.1
text-unidecode==1.3
virtualenv==20.2.1
virtualenv-clone==0.5.4
virtualenvwrapper==4.8.4
xlrd==2.0.1
